/* Responsive CSS */


@media all and (min-width: 1170px) {
    #image {
        background-image: url(../img/man-1.jpg);
        background-size: cover;
    }
}

@media all and (min-width: 992px) and (max-width: 1169px) {
    #image {
        background-image: url(../img/man-2.jpg);
        height: 70%;
        background-size: cover;
    }

    #container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

    }
}

@media all and (max-width: 991px) {
    #image {
        background-image: url(../img/man-1.jpg);
        height: 50%;
        background-size: cover;
    }

    #container {
        top: 50%;
        height: 50%;
        align-items: center;
        justify-content: flex-start;
    }

    h1,
    h2 {
        color: black;
    }