* {
    font-family: Verdana, Geneva, sans-serif;
    background-repeat: no-repeat;

}

header {
    height: 100vh;
    width: 100vw;
}

#image {
    height: 100%;
}

#container {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    
}

h1,
h2 {
    text-transform: uppercase;
    color: white;
}